#
# WARNING: To install Immich, follow our guide: https://docs.immich.app/install/docker-compose
#
# Make sure to use the docker-compose.yml of the current release:
#
# https://github.com/immich-app/immich/releases/latest/download/docker-compose.yml
#
# The compose file on main may not be compatible with the latest release.

name: immich

services:

  immich-machine-learning:
    container_name: immich_machine_learning
    # For hardware acceleration, add one of -[armnn, cuda, rocm, openvino, rknn] to the image tag.
    # Example tag: ${IMMICH_VERSION:-release}-cuda
    image: ghcr.io/immich-app/immich-machine-learning:v2.3.1-cuda
    volumes:
      - ./model-cache:/cache
      - ./immich_ml_main.py:/usr/src/immich_ml/main.py
    ports:
      - "33003:3003" # modify to your desired port mapping
    environment:
      - OCR_PADDLEX_URL=http://paddle_ocr:8080/ocr # Pointing to the PaddleX OCR service
    restart: unless-stopped
    healthcheck:
      disable: false
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  paddle-ocr:
    container_name: paddle_ocr
    build:
      context: ./paddle_ocr
      dockerfile: Dockerfile
    volumes:
      - ./model-cache/:/root/.paddlex/official_models/
      # - ./paddlex_ocr_pipeline.py:/usr/local/lib/python3.10/dist-packages/paddlex/inference/pipelines/ocr/pipeline.py
      # - ./paddlex_ocr_result.py:/usr/local/lib/python3.10/dist-packages/paddlex/inference/pipelines/ocr/result.py
      - ./paddlex_ocr_pipeline.py:/root/PaddleX/paddlex/inference/pipelines/ocr/pipeline.py
      - ./paddlex_ocr_result.py:/root/PaddleX/paddlex/inference/pipelines/ocr/result.py
      - ./paddle_ocr/OCR.yaml:/OCR.yaml
    ports:
      - "8866:8080"
    command: "paddlex --serve --pipeline /OCR.yaml"
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      disable: false
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu
